body{
    height: 20em;
    /* background-color: azure; */
    display: flex; 
    justify-content: center;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 90em 52em;
    
}
#canvas{
    border: 20px solid orange;
    margin-top: 10%;
/* background-color: white; */
    background-color: rgba(255, 255, 255, 0.322);
}
h1{
    padding-top: 10%;
    font-family: fantasy;
    color: orange;
    font-size: 100px;
    text-shadow: -8px 0 rgb(56, 12, 12), 0 1px rgb(56, 12, 12), 1px 0 rgb(56, 12, 12), 0 -5px rgb(56, 12, 12);
}
h2{
    padding-top: 7%;
    font-family: fantasy;
    color: orange;
    font-size: 100px;
    text-shadow: -8px 0 rgb(56, 12, 12), 0 1px rgb(56, 12, 12), 1px 0 rgb(56, 12, 12), 0 -5px rgb(56, 12, 12);
}
#startMaze{
    position: relative;
    border-color: rgb(56, 12, 12);
    margin-bottom: 20%;
    margin-left: 28%;
    margin-top: -5%; 
    border-image-width: 40% black;
    width: 35%;
    height: 45%;
}
/* #startMaze:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: transparent;
} */

#startMaze img{
    margin-top: -11%;
    margin-left: -5%;
    height: 200px;
    width: 400px;
    position: absolute;
    transform: rotate(-0.8deg);
}
#startMaze button{
    font-family: fantasy;
    color: rgb(57, 233, 33);
    text-shadow: -2px 0 rgb(56, 12, 12), 0 1px rgb(56, 12, 12), 1px 0 rgb(56, 12, 12), 0 -2px rgb(56, 12, 12);
    font-weight: bolder;
    border: transparent;
    border-radius: 90%;
    /* height: 50px; */
    background-color: rgb(245, 140, 3);
    font-size: 39px;
    position: relative;
    margin: 12% 21%;
}
#startMaze button:focus{
    outline: 0;
}


#myDIV {
    display:none;
}
#question-button {
    position: absolute;
    margin: 4vw 0 0 7.5vw;
    background-color: #789504;
    border: none;
}
#question-svg:hover {
    background-color: #fda500;
    border-radius: 4px;
}
#question-button:focus{
    outline: 0;
}
/* #question-button:active{
    color: black;
} */
#arrows {
    display: none;
    margin: -40vw 0 0 64vw;
    position: absolute;
}
#arrow-up {
    margin: 0 0 0vw 4.1vw;
}
#arrows h3 {
    font-family: fantasy;
    margin: 0 0 1vw -2vw;
    text-align: center;
    color: #fda500;
    font-size: 1.5vw;
    text-shadow: 0px 0 rgb(56 12 12), 0 1px rgb(56 12 12), 1px 0 rgb(56 12 12), 0 -2px rgb(56 12 12);
}
#mazeWin{
    display: none;
}
#mazeWin img{
    margin-top: -16%;
    margin-left: 30%;
    height: 23%;
    width: 23%;
}
/* .unhidden{
    display:block;
}
} */
.clip {
    clip-path: url(#clip);
}

.star-link {
    position: absolute;
    left: 125px;
    background-color: blue;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
}

.clip:hover {
    opacity: 0.5;
}
